html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
marquee {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

ol,
ul {
	list-style: none;
	list-style-type: none;
}